@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p
{
    font-weight: 300;
    color: #111;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background:linear-gradient(45deg,#2f3542, #a4b0be,#ffa502);
    background-size: cover;
    animation: colors 15s ease infinite;
}
@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}